/* https://fonts.google.com/specimen/BIZ+UDGothic?query=goth#standard-styles */
/* https://fonts.google.com/specimen/Nanum+Gothic+Coding?query=goth#standard-styles */
*{
    font-family: 'Nanum Gothic Coding', monospace;
    box-sizing: border-box;
}
body{
    margin : 0;
}


div{
    display:block;
}

.navbar{
    display: flex;  
    background: #1a1b26;
    color:white;
    font-size: 1rem;
    font-weight:bold;
    overflow:hidden;
    padding: 7px 8px;
   
    /* justify-content: space-evenly; */
}

.navbar a{
    float:left;
    display:block;
    text-align: center;
    padding-right: 12px;
}

.navbar .icon{
    display:none;
}
a.navLink{
    padding: 10px 10px;
    color:white;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

li a{
    display: block;
    text-align: center;
    /* text-decoration:  none; */
    padding: 10px 10px;
}



.hero-header{
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    display:flex;
    width:100%;
    height: 100%;
    padding-top: calc(100px + 6vh);
    padding-bottom: 12vh;
    align-items:flex-end;
    background: #1a1b26;

    color:white;
}
 
.hero-fancy-side{
    display:flex;
    flex-direction: column;
}
.fancy-word{
    font-size: 2rem;
    
}

/* lets our company text be floatin right, but for responsiveness should go down */
.header-text{
    max-width:500px;
    position:relative;
    overflow:hidden; 
    margin-right: 5vw;
}

.team-intro{
    text-align: center;
    font-size: 1.25rem;
    font-weight:700;
}
.team-block{
    display:flex;
    
}

.profile-card{
    flex: 0.33;
    /* should probably do diff math to center lol */
    padding-left: calc(75px + 0.75vw);
}

.products-bar{
    
    text-align:center;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_round */
.button{
    border:none;
    /* background:#1a1b26; */
    background-image: linear-gradient(to right, #1a1b26, #434d57, #23455a, #3b335a);
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    color:white;
    padding: 20px;
    width: 200px;
    text-align : center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    /* transition-duration: 2s; */
    /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

/* https://codepen.io/JavaScriptJunkie/pen/pPRooV */

.button:hover{
    background-position: 100% 0;

    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.product-btn{
    border-radius : 10px;
    font-size: 1rem;
    
}

.product-card{
    display:flex;
    flex-direction: column;
}

.product-img-block{
    text-align: center;
}

/* centers the table items along page 
   makes overflow create its own little scrollbar...?*/
.product-table{
    display:grid;

    overflow-x: auto;

}

/* Product page CSS STUFF (Made by Jules. I'm not sure if 
I need to make another css file or just throw it in here) */

.product-page-main-body { 
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

.purchase-form { 
    width: 35%;
    padding: 16px;
}

.purchase-form input { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.purchase-form input[type='radio'] { 
    width: 50%;
}

.purchase-form label { 
    margin-top: 32px;
}


@media screen and (max-width: 600px) {
    .navbar{
        display:block;
        
    }
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }

    .team-block{
        display:flex;
        flex-direction:column;
        
    }

    
  }


@media screen and (max-width: 600px) {
.navbar.responsive {position: relative;
display:block;
}
.navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px 8px;
}
.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.product-image img{   
    
    max-width:200px;
    max-height: 100px;
    width: auto;
    height: auto;
    
}



/* https://www.youtube.com/watch?v=lvKK2fs6h4I */
/* chrome/safari use webkit */


::-webkit-scrollbar{    

    width:0.5em;
    height:0.5em;
    overflow:auto;

}


::-webkit-scrollbar-track{
    border-radius: 100vw;
    background: #1a1b2648;
    
    margin-block: 10em;
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background: #1a1b2648;
    
    margin-block: 10em;

}

::-webkit-scrollbar-thumb:hover{
    background: #1a1b2648;
}


@supports (scrollbar-color: #1a1b2648){
 *{
     scrollbar-color:#1a1b2648;
     scrollbar-width: thin;
 }   
}